#gameDiv {
    font-family: Arial, sans-serf;
    border: 3 px solid;
    border-radius: 25 px;
    padding: 10 px;
    background-image: linear-gradient(#33ccff,#ff9999);
    text-align: center;
}

.choiceBtn {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 30 px;
    width: 150 px;
    border-radius: 25 px;
    color: red;
}

#playerText {
    color: #ff9999;
}

#computerText {
    color: black;
    ;
}

#resultText {
    color: #33ccff;
}
